@import url('https://fonts.cdnfonts.com/css/outfit');

:root{
    /* Color */
    --Slate-900: #1F314F;
    --Slate-500: #68778D;
    --Slate-300: #D5E1EF;

    --white: #FFFFFF;

    /* Typography start*/

    /* Text Preset 1 (Outfit Bold) */
    --tp-bold-font-family: 'Outfit', sans-serif;
    --tp-bold-font-size: 22px;
    --tp-bold-line-height: 120%;
    --tp-bold-letter-spacing: 0;
    --tp-bold-font-weight: 700;
    
    
    /* Text Preset 2 (Outfit Regular) */
    --tp-regular-font-family: 'Outfit', sans-serif;
    --tp-regular-font-size: 15px;
    --tp-regular-line-height: 120%;
    --tp-regular-letter-spacing: 0;
    --tp-regular-font-weight: 400;

    /* Typography end */

    /* spacing */
    --space-500: 40px;
    --space-300: 24px;
    --space-200: 16px;

    /* margin */
    --margin-500: 40px;
    --margin-300: 24px;
    --margin-200: 16px;
}